<%- include('partials/header.ejs') %>
<section id="projects">
    <h2>Projects</h2>
    <div class="project">
        <h3>GUI calculator
        </h3>
        <p>Developed a GUI calculator using C# which could be simply used by clicking buttons.</p>
    </div>
    <div class="project">
        <h3>Market Segmentation Analysis</h3>
        <p>Conducted market segmentation analysis to identify target audiences and improve marketing campaigns.</p>
    </div>
    <div class="project">
        <h3>Data Analysis for Sales Optimization</h3>
        <p>Implemented data analysis techniques to optimize sales strategies, resulting in a 15% increase in revenue.</p>
    </div>
    <div class="project">
        <a href="/">
            <img src="images/calc.png" alt="calculator">
            <a href="/">
                <img src="images/MSG1.jpg" alt="MSG">
    </div>
</section>
<%- include('partials/footer.ejs') %>